html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Homepage */

.container-app {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.container-app > .main {
  flex-grow: 1;
}

.left-part {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.left-part h1.header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid;
}

.left-part .list .content .header {
  margin-bottom: 0.5rem;
}

.left-part .search-form {
  position: relative;
}

.left-part .search-form .close.icon {
  display: inline-block;
  position: absolute;
  right: 3rem;
  top: 0.825rem;
  color: #9a9a9a;
  cursor: pointer;
  outline: none;
}

.left-part .search-form .close.icon:focus {
  color: #555555;
}

.right-part {
  padding-bottom: 2rem;
  width: 100%;
}

.footer {
  width: 100%;
  height: 2.5rem;
  border-top: 0.0625rem solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.img {
  transition: all 1s ease-in;
  overflow: hidden;
}

.img-visible {
  opacity: 1;
  max-height: 1000px;
}

.img-hidden {
  opacity: 0.5;
  max-height: 0;
}

.credit {
  font-style: italic;
  font-size: 0.8rem;
  color: #555555;
}

.link {
  cursor: pointer;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .right-part {
    padding: 2rem;
    /* height: calc(100vh - 3rem); */
    overflow: auto;
  }
  .left-part {
    padding: 2rem;
    padding-right: 0;
  }
}

/* Generated image page */

.render-img {
  margin: auto;
  position: relative;
  display: block;
}

.canvas-image {
  display: block;
  width: 100%;
}

.render-text {
  position: absolute;
  bottom: 3vw;
  padding: calc(1.8vw + 1vh) calc(1.8vw + 1vh);
  text-align: center;
  background: #ffffff8c;
  font-size: calc(1.8vw + 1vh);
  white-space: pre-wrap;
  width: 100%;
  color: black;
  font-weight: bold;
}

.download-btn {
  margin: 10px;
  position: sticky;
  z-index: 1;
  top: 10px;
}

.sticky-panel {
  position: sticky;
  bottom: 0;
  padding: 25px 15px;
  backdrop-filter: blur(50px) brightness(2);
  border-top: 2px solid #a2a2a2;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  margin-top: 1.875rem;
}

.floating-icon {
  position: absolute;
  top: -50px;
  right: 10px;
}
