.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.leftPart {
  padding: 2rem !important;
}

.rightPart {
  padding: 2rem !important;
  width: 100%;
}

.footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}

.img {
  transition: all 1s ease-in;
  overflow: hidden;
}

.imgVisible {
  opacity: 1;
  max-height: 1000px;
}

.imgHidden {
  opacity: 0.5;
  max-height: 0;
}

.credit {
  font-style: italic;
  font-size: 0.8rem;
  color: #555555;
}

@media (min-width: 768px) {
  .rightPart {
    height: calc(100vh - 3rem);
    overflow: auto;
  }
}