.renderImg {
  margin: auto;
  position: relative;
  display: block;
}

.image {
  display: block;
  width: 100%;
}

.renderText {
  position: absolute;
  bottom: 3vw;
  padding: calc(1.8vw + 1vh) calc(1.8vw + 1vh);
  text-align: center;
  background: #ffffff6b;
  font-size: calc(1.8vw + 1vh);
  width: 100%;
  color: black;
  font-weight: bold;
}

.downloadBtn {
  margin: 10px !important;
  position: sticky !important;
  z-index: 1 !important;
  top: 10px !important;
  text-align: center;
}
